<div class="modal fade" id="myModalCreate" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:#f1f2f6">

                <h5 class="modal-title" id="exampleModalLabel">
                    REGISTRAR CLIENTE
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmModal">
                    <br />
                    <label class="">NOMBRE :</label>

                    <input type="text" class="form-control m-input" id="nomcre">


                    <span class="m-form__help"></span>
                    <br />
                    <label class="">APELLIDO PATERNO :</label>

                    <input type="text" class="form-control m-input" id="apatcre">


                    <span class="m-form__help"></span>

                    <label class="">APELLIDO MATERNO :</label>

                    <input type="text" class="form-control m-input" id="apmatcre">


                    <span class="m-form__help"></span>
                    <label class="">TELEFONO :</label>

                    <input type="text" class="form-control m-input" id="telcre">


                    <span class="m-form__help"> </span>
                    <label class="">DNI :</label>

                    <input type="text" class="form-control m-input" id="dnicre">


                    <span class="m-form__help"> </span>

                </form>
            </div>
            <div class="modal-footer" style="background-color:#f1f2f6">
                <button type="button" class="btn btn-metal" data-dismiss="modal" id="btnCancelCreatePesona">
                    Cancelar
                </button>
                <button type="button" class="btn btn-success" id="btnSendCreate">
                    Registrar
                </button>
            </div>
        </div>
    </div>

</div>
