<div class="modal fade" id="myModalCreate" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:#f1f2f6">

                <h5 class="modal-title" id="exampleModalLabel">
                    REGISTRAR PRODUCTO
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmModal">
                    <br />

                    <label class="">Nombre:</label>

                    <input type="text" class="form-control m-input" id="nomcre">


                    <span class="m-form__help">
                    </span>
                    <br />


                    <label class="">Descripcion :</label>

                    <textarea class="form-control m-input" rows="3" id="descre"></textarea>

                    <span class="m-form__help">
                    </span>
                    <label>
                        Categoria Padre :
                    </label>
                    <div class="input-group m-input-group">

                        <input type="text" class="form-control m-input" id="nomcre">
                    </div>
                    <span class="m-form__help">
                    </span>
                    <label class="">Imagen:</label>
                    <img id="imgPreviewFilecre" src="~/imagenes/default.png" width="200" height="200" />
                    <br>
                    <br>
                    <label class="btn btn-success m-btn m-btn--icon" style="text-align:center">

                        <span>
                            <i class="la la-cloud-upload"></i>
                            <span>
                                Subir Archivo
                            </span>

                            <input type="file" id="imagencre" style="display:none">
                        </span>
                    </label>
                    @*<div>
            <img id="imgPreviewFilecre" src="~/imagenes/default.png" width="200" height="200" />
            <input type="file" id="imagencre">
        </div>*@


                    <span class="m-form__help">
                    </span>
                </form>
            </div>
            <div class="modal-footer" style="background-color:#f1f2f6">
                <button type="button" class="btn btn-metal" data-dismiss="modal" id="btnCancelCreatePesona">
                    CANCELAR
                </button>
                <button type="button" class="btn btn-success" id="btnSendCreate">
                    REGISTRAR
                </button>
            </div>
        </div>
    </div>

</div>

