<div class="modal fade" id="myModalCreate" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:#f1f2f6">

                <h5 class="modal-title" id="exampleModalLabel">
                    REGISTRAR PRODUCTO
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmModal">
                    <br />
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            <label class="">Codigo :</label>

                            <input type="text" class="form-control m-input" id="nomcre">
                            <span class="m-form__help"></span>
                        </div>
                        <div class="col-lg-6">
                            <label class="">Nombre :</label>

                            <input type="text" class="form-control m-input" id="nomcre">
                            <span class="m-form__help"></span>
                        </div>
                        <div class="col-lg-6">
                            <label class="">Categoria :</label>

                            @Html.DropDownList("cate", (SelectList)ViewBag.Categoria, new { @style = "width:80%" })
                            <span class="m-form__help"></span>
                        </div>
                        <div class="col-lg-6">
                            <label class="">Precio :</label>

                            <input type="text" class="form-control m-input" id="nomcre">
                            <span class="m-form__help"></span>
                        </div>
                        <div class="col-lg-6">
                            <label class="">Descripción :</label>

                            <textarea class="form-control m-input" rows="3" id="descre"></textarea>
                            <span class="m-form__help"></span>
                        </div>
                        <div class="col-lg-6">
                            <label class="">Stock :</label>

                            <input type="text" class="form-control m-input" id="nomcre">
                            <span class="m-form__help"></span>
                        </div>
                        <div class="col-lg-6">
                            <label class="">Imagen :</label>

                            <img id="imgPreviewFilecre" src="~/imagenes/default.png" width="200" height="200" />
                            <span class="m-form__help"></span>
                        </div>
                        <div class="col-lg-6">
                            <label class="btn btn-success m-btn m-btn--icon" style="text-align:right">

                                <span>
                                    <i class="la la-cloud-upload"></i>
                                    <span>
                                        Subir Archivo
                                    </span>

                                    <input type="file" id="imagencre" style="display:none">
                                </span>
                            </label>
                            <span class="m-form__help"></span>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer" style="background-color:#f1f2f6">
                <button type="button" class="btn btn-metal" data-dismiss="modal" id="btnCancelCreatePesona">
                    CANCELAR
                </button>
                <button type="button" class="btn btn-success" id="btnSendCreate">
                    REGISTRAR
                </button>
            </div>
        </div>
    </div>

</div>

