<div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">REGISTRAR PRODUCTO</h2>
                
            </div>
            <div class="modal-body">

                <div class="fform-group m-form__group row">
                    <label for="recipient-name" class="col-form-label">Codigo:</label>
                    <br>
                    <div class="col-lg-6">
                        <input type="text" class="form-control m-input" id="recipient-name" placeholder="Codigo">
                        <span class="m-form__help"></span>
                    </div>

                    <br>
                    <br>

                    <label for="message-text" class="col-form-label">Nombre:</label>
                    <br>
                    <div class="col-lg-6" ">
                        <input type="text" class="form-control m-input" id="recipient-name" placeholder="Nombre">
                        <span class="m-form__help"></span>
                    </div>

                    <br>
                    <br>
                </div>
                <div class="fform-group m-form__group row">
                    <label for="message-text" class="col-form-label">Categoria:</label>
                    <br>
                    <div class="col-lg-6" ">
                        <input type="text" class="form-control m-input" id="recipient-name" placeholder="Categoria">
                        <span class="m-form__help"></span>
                    </div>

                    <br>
                    <br>

                    <label for="message-text" class="col-form-label">Precio Unitario:</label>
                    <br>
                    <div class="col-lg-6" ">
                        <input type="text" class="form-control" id="recipient-name" placeholder="Precio Unitario">
                        <span class="m-form__help"></span>
                    </div>
                </div>
                <br>
                <br>
                <div class="fform-group m-form__group row">
                    <label for="message-text" class="col-form-label">Descripcion:</label>
                    <br>
                    <div class="col-lg-6" ">
                        <input type="text" class="form-control" id="recipient-name" placeholder="Descripcion">
                        <span class="m-form__help"></span>
                    </div>

                    <br>
                    <br>

                    <label for="message-text" class="col-form-label">Stock:</label>
                    <br>
                    <div class="col-lg-6" ">
                        <input type="text" class="form-control" id="recipient-name" placeholder="Stock">
                        <span class="m-form__help"></span>
                    </div>

                    <br>
                    <br>
                </div>
                <div class="fform-group m-form__group row">
                    <label class="">Imagen:</label>
                    <img id="imgPreviewFilecre" src="~/imagenes/default.png" width="200" height="200" />
                    <span></span>
                    <label class="btn btn-success m-btn m-btn--icon m-btn--wide">

                        <span>
                            <i class="la la-cloud-upload"></i>
                            <span>
                                Subir Archivo
                            </span>
                            <br>
                            <input type="file" id="imagencre" style="display:none">
                        </span>
                    </label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>

