<div class="modal fade" id="myModalCreate" role="dialog">
    <div class="modal-dialog modal-footer">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:#f1f2f6">

                <h5 class="modal-title" id="exampleModalLabel">
                    REGISTRAR VENTA
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmModal">

                    <span class="m-accordion__item-title">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                DATOS CLIENTE
                            </font>
                        </font>
                    </span>
                    <br>
                    <br>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            <label>
                                (*) Dni:
                            </label>
                            <div class="m-input-icon m-input-icon--left">
                                <div class="m-form m-form--state">
                                    <div class="form-group m-form__group" id="state-data-validate">
                                        <div class="m-typeahead">
                                            <input class="form-control m-input datasearch_number" id="datasearch" maxlength="8" type="text" placeholder="Ingrese DNI...">


                                        </div>
                                    </div>
                                </div>
                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                    <span>
                                        <i class="la la-user"></i>
                                    </span>
                                </span>
                                <span class="m-input-icon__icon m-input-icon__icon--right" id="input_validate_data_true" style="visibility:hidden">
                                    <span>
                                        <i class="la la-check m--font-success"></i>
                                    </span>
                                </span>

                                <span class="m-input-icon__icon m-input-icon__icon--right" id="input_validate_data_false" style="visibility:hidden">
                                    <span>
                                        <i class="la la-close m--font-danger"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label>
                                Apelidos y Nombres:
                            </label>
                            <div class="m-input-icon m-input-icon--left">
                                <div class="m-form m-form--state">
                                    <div class="form-group m-form__group" id="state-apeseg-validate">
                                        <input type="text" class="form-control m-input" placeholder="Ingrese Nombres" id="nompriE">
                                    </div>
                                </div>
                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                    <span>
                                        <i class="la la-user"></i>
                                    </span>
                                </span>
                                <span class="m-input-icon__icon m-input-icon__icon--right" id="input_validate_nompriE_true" style="visibility:hidden">
                                    <span>
                                        <i class="la la-check m--font-success"></i>
                                    </span>
                                </span>

                                <span class="m-input-icon__icon m-input-icon__icon--right" id="input_validate_nompriE_false" style="visibility:hidden">
                                    <span>
                                        <i class="la la-close m--font-danger"></i>
                                    </span>
                                </span>
                            </div>

                            <div class="m-form m-form--state">
                                <div>
                                    <input type="text" class="form-control m-input" id="dvid" readonly disabled style="visibility:hidden">
                                </div>
                            </div>

                        </div>
                    </div>

                    <span class="m-accordion__item-title">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                DETALLE PRODUCTO
                            </font>
                        </font>
                    </span>
                    <br>
                    <br>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-5">
                            <label class="">
                                Tipo :
                            </label>
                            @Html.DropDownList("tipopro", (SelectList)ViewBag.TipoProducto, new { @style = "width:80%" })
                            <span class="m-form__help"></span>
                        </div>
                        <div class="col-lg-5">
                            <label>
                                Producto :
                            </label>
                            @Html.DropDownList("produc", (SelectList)ViewBag.Producto, new { @style = "width:80%" })
                            <span class="m-form__help"></span>
                        </div>
                        <br>
                        <br>
                        <br>
                        <button type="button" class="btn btn-success" id="btnAna" style='width:25px; height:30px'>+</button>
                        <br>
                        <br>
                        <br>
                        <div class="m-section">
                            <div class="m-section__content">
                                <br>
                                <br>

                                <table class="table m-table m-table--head-bg-success">
                                    <thead>
                                        <tr>
                                            <th>
                                                Tipo
                                            </th>
                                            <th>
                                                Producto
                                            </th>
                                            <th>
                                                Nombre
                                            </th>
                                            <th>
                                                Descripción
                                            </th>
                                            <th>
                                                Precio Venta
                                            </th>

                                            <th>
                                                Acciones
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                                <table class="table m-table m-table--head-bg-success" id="listDetalle"></table>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="form-group m-form__group row">
                            <span class="m-form__help" style="font-size:12px">
                                &nbsp &nbsp   &nbsp   &nbsp &nbsp  &nbsp  &nbsp  &nbsp  Moneda : <b><span id="spMoneda">Soles</span></b>
                            </span>
                            <span class="m-form__help" style="font-size:12px">
                                &nbsp &nbsp   &nbsp   &nbsp &nbsp  &nbsp  &nbsp  &nbsp  Total : <b><span id="spStotal"></span></b>
                            </span>

                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div>
                            <span class="m-accordion__item-title">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        DETALLE VENTA
                                    </font>
                                </font>
                            </span>
                            <br>
                            <br>
                            <div class="form-group m-form__group row">

                                <div class="col-lg-6">
                                    <label class="">Cantidad :</label>

                                    <input type="text" class="form-control m-input" id="prcomcre">


                                    <span class="m-form__help"></span>
                                </div>
                                <div class="col-lg-6">
                                    <label class="">Precio :</label>

                                    <input type="text" class="form-control m-input" id="prvencre">


                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer" style="background-color:#f1f2f6">
                <button type="button" class="btn btn-metal" data-dismiss="modal" id="btnCancelCreatePesona">
                    Cancelar
                </button>
                <button type="button" class="btn btn-success" id="btnSendCreate">
                    Registrar
                </button>
            </div>
        </div>
    </div>

</div>

<script>


    function mainjsfunction(inputFieldValue) {
        console.log(inputFieldValue);
        //do something with input field value
    }


                                    $('#datasearch').on('input', function () {
                                            if ($(this).val().trim() != '') {
                                                //Añado clases y muestro el span de error
                                                stateInput('data', 'false', 'true', 'danger', 'success');
                                            } else {
                                                stateInput('data', 'true', 'false', 'success', 'danger');
                                            }
                                    });


                                     $('#nompriE').on('input', function () {
                                                if ($(this).val().trim() != '') {
                                                    //Añado clases y muestro el span de error
                                                    stateInput('nom', 'false', 'true', 'danger', 'success');
                                                } else {
                                                    stateInput('nom', 'true', 'false', 'success', 'danger');
                                                }
                                     });

                                     let stateInput = (id, success, danger, hassucess, hasdanger) => {
                                            $(`#state-${id}-validate`).removeClass(`has-${hassucess}`);
                                            $(`#state-${id}-validate`).addClass(`has-${hasdanger}`);
                                            $(`#input_validate_${id}_${success}`).css(`visibility`, `hidden`);
                                            $(`#input_validate_${id}_${danger}`).css(`visibility`, `visible`);
                                  };
</script>

